body {
    background-color: #000;
    font-family: 'Arial', rounded, sans-serif;
    color: white;
}

.upload {
    width: calc(100% - 100px);
    height: 120px;
    line-height: 120px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    vertical-align: middle;
    transition: all 0.5s ease;
    z-index: 2;
    color: white;
    border-color: blueviolet;
}

.upload_output {
    width: 100vw;
    text-align: center;
    z-index: 2;
    margin-bottom: 50px;
}

.graphs {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.simulation {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

.content_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.content_wrapper {
    padding: 50px !important;
    width: calc(100% - 100px);
}

.tab_bar {
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 100px);
    border-radius: 10px !important;
    display: inline-block !important;
}

.tab {
    transition: all 0.5s ease !important;
    color: white !important;
    background-color: #151515 !important;
}

.tab:hover {
    background-color: #2a2a2a !important;
}

.tab:active {
    background-color: #232323 !important;
    border: blueviolet !important;
}

.tab:not(.active) {
    border: none !important;
}

.vanta-container {
    width: 100vw;
    height: 300vh;
    top: 0;
    left: 0;
}